<div class="tab-pane" id="covid19">
    <div class="row">
        <div class="col-sm-12">
            <h4 class="info-text">COVID-19 Pre-screening</h4>
            <h5 class="info-text"
                *ngIf="( f.firstOption.errors) ||(f.secondOption.errors) || (f.thirdOption.errors) || (f.fourthOption.errors)">
                Please check all the boxes to continue</h5>
        </div>

        <div class="col-sm-1">

        </div>
        <div class="col-sm-10">
            <form [formGroup]="CovidPreScrForm">
                <div class="col-sm-12 ">
                    <mat-checkbox class="example-margin" formControlName="firstOption" [color]="'primary'">
                        I do not
                        have fever, cough,
                        shortness of
                        breath, cold or
                        flu-like symptoms, or any
                        other sudden changes to my health. In the last 14 days, I have not
                        been in contact with someone who has.
                    </mat-checkbox>
                    <!-- <div class="checkbox">
                        <label>
                            <input type="checkbox" name="covid1" formControlName="firstOption">
                        </label> I do not have fever, cough, shortness of breath, cold or
                        flu-like symptoms, or any
                        other sudden changes to my health. In the last 14 days, I have not
                        been in contact with someone who has.
                    </div> -->
                </div>
                <div class="col-sm-12 ">
                    <mat-checkbox class="example-margin" formControlName="secondOption" [color]="'primary'">In the last
                        14 days, I have not
                        travelled outside of Canada
                        or been in contact with
                        someone who has.</mat-checkbox>

                    <!--                         
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="covid2" formControlName="secondOption">
                        </label> In the last 14 days, I have not travelled outside of Canada
                        or been in contact with
                        someone who has.
                    </div> -->
                </div>
                <div class="col-sm-12 ">
                    <mat-checkbox class="example-margin" formControlName="thirdOption" [color]="'primary'">I do not have
                        a confirmed case
                        of COVID-19 or had close
                        contact with a confirmed case
                        of COVID-19 without wearing appropriate PPE.</mat-checkbox>

                    <!-- <div class="checkbox">
                        <label>
                            <input type="checkbox" name="covid3" formControlName="thirdOption">
                        </label> I do not have a confirmed case of COVID-19 or had close
                        contact with a confirmed case
                        of COVID-19 without wearing appropriate PPE.
                    </div> -->
                </div>
                <div class="col-sm-12 ">
                    <mat-checkbox class="example-margin" formControlName="fourthOption" [color]="'primary'">I am not
                        experiencing symptoms
                        such as: redness, itching, swelling, pain, discharge,
                        blurred
                        vision, vision loss, floaters, flashers</mat-checkbox>


                    <!-- <div class="checkbox">
                        <label>
                            <input type="checkbox" name="covid4" formControlName="fourthOption">
                        </label>I am not experiencing symptoms such as: redness, itching, swelling, pain, discharge,
                        blurred
                        vision, vision loss, floaters, flashers
                    </div> -->
                </div>
                <!-- <div>
                    You Must Choose Option or Call Our Store.
                </div> -->
            </form>
        </div>

        <div class="col-sm-1">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
            <div class="col-md-6">
                <h3>Eyemaxx Optical Studio</h3>
                <p>Address: 237 Elgin St Ottawa, ON K2P 1L6
                </p>
                <p>Email: staff@eyemaxx.ca</p>
                <p>Phone: <a href="tel:613-216-6076">613.216.6076</a></p>
                <a target="_blank" class="btn btn-next btn-fill btn-danger btn-wd"
                    href="https://www.google.com/maps/place/Eyemaxx+Optical+Studio/@45.4187597,-75.6931724,17z/data=!3m2!4b1!5s0x4cce05a97c9f1ddf:0xe0b6f9110f255594!4m5!3m4!1s0x4cce05a9635628f5:0x126623ec6dff4430!8m2!3d45.4187597!4d-75.6909837">Get
                    Directions</a>
            </div>
            <div class="col-md-8">


            </div>

        </div>
        <div class="col-sm-1">

        </div>
    </div>
</div>