:host::ng-deep.mat-checkbox-layout {
    white-space: normal !important;
    color: #000000DE;
}

:host::ng-deep.mat-checkbox-inner-container {
    margin-top: 4px;
    width: 15px;
    height: 15px;
}

a#get_dire {
  background-color: #FFFFFF;
  COLOR: #79A0DF;
  BORDER: SOLID #79A0DF;
}



a#get_dire:hover {
  background-color: #79A0DF;
  COLOR: #FFFFFF;
  BORDER: SOLID #79A0DF;
}
