    <div class="row">
        <h4 class="info-text">Appointment Type</h4>
        <h4 class="info-text">Choose the appointment type that you would like to book
        </h4>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <div class="form-group label-floating">
                    <label class="control-label">Please Select Exam Type</label>
                    <select class="form-control">
                        <option disabled="" selected=""></option>
                        <option value="1">Full Eye Exam: Non-Contact Lens Wearer
                        </option>
                        <option value="2">Full Eye Exam: Contact Lens Wearer (Previous
                            Patient) </option>
                        <option value="3">Full Eye Exam: Contact Lens Wearer (New
                            Patient) </option>
                        <option value="4">Non-OHIP Child (0-19) Eye Exam</option>
                        <option value="5">Non-OHIP Senior (65+) Eye Exam</option>
                        <option value="6">OHIP: 0-19 (V406A)</option>
                        <option value="7">OHIP: 65+ (V406A)</option>
                        <option value="8">Appointment not available for online booking
                        </option>
                    </select>
                </div>
            </div>
            <div class="col-sm-3">
            </div>
        </div>

        <div class="col-sm-4">
            <li>Contact Lens Fitting: Multifocal or Monovision</li>
            <li>Contact Lens Fitting: Single Vision</li>
            <li>Contact Lens Teach: Multifocal or Monovision</li>
            <li>Contact Lens Teach: Single Vision</li>
            <li>NIHB (Non-Insured Health Benefits)</li>

        </div>
        <div class="col-sm-2">
            <li>Laser Post-op</li>
            <li>Forms</li>
            <li>Visual Field</li>
            <li>No Charge Rx Check</li>
            <li>Partial Eye Exam</li>
        </div>
        <div class="col-sm-3">
            <li>Retinal Images</li>
            <li>No Charge CL Follow Up</li>
            <li>OHIP: Partial (V402A)</li>
            <li>OHIP: Partial (V408A)</li>
            <li>OHIP: Medical 20-64 (V409A</li>
        </div>
        <div class="col-sm-3">
            <li>OHIP: Visual Fields (V410A)</li>
            <li>OHIP: ODSP (V450A)</li>
            <li>OHIP: Ontario Works (V451A)</li>
        </div>

        <div class="col-sm-10 col-sm-offset-1">
            <h4 class="info-text">Please select an Optometrist / Any Optometrist</h4>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2">
                <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Alexa Lavigne OD">
                    <input type="radio" name="job" value="Design">
                    <div class="icon">
                        <i class="material-icons">person</i>
                    </div>
                    <h6>Alexa Lavigne OD</h6>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Mimosa Vo OD">
                    <input type="radio" name="job" value="Code">
                    <div class="icon">
                        <i class="material-icons">person</i>
                    </div>
                    <h6>Mimosa Vo OD</h6>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Reberto Sgarbossa OD">
                    <input type="radio" name="job" value="Code">
                    <div class="icon">
                        <i class="material-icons">person</i>
                    </div>
                    <h6>Reberto Sgarbossa OD</h6>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Shelly Huang OD">
                    <input type="radio" name="job" value="Code">
                    <div class="icon">
                        <i class="material-icons">person</i>
                    </div>
                    <h6>Shelly Huang OD</h6>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="Any Optometrist">
                    <input type="radio" name="job" value="Code">
                    <div class="icon">
                        <i class="material-icons">groups</i>
                    </div>
                    <h6>Any Optometrist</h6>
                </div>
            </div>
        </div>
    </div>