<div class="tab-pane" id="exam-type">
    <div class="row">
        <h4 class="info-text">Appointment Type</h4>
        <h4 class="info-text">Choose the appointment type that you would like to book
        </h4>
        <div class="row">
            <div class="col-sm-3">
            </div>
            <div class="col-sm-6">
                <div class="form-group label-floating">
                    <label class="control-label">Please Select Exam Type</label>
                    <select class="form-control" [(ngModel)]="SelectedExamId" (change)="SelectExam()">

                        <option *ngFor="let type of DoctorStoreTypeData.AppointmentTypes" value="{{type.id}}">{{
                            type.name }}
                        </option>
                        <option value='-2'>
                            Contact Lens Fitting: Multifocal or Monovision
                        </option>
                        <option value='-2'>
                            Contact Lens Fitting: Single Vision
                        </option>
                        <option value='-2'>
                            Contact Lens Teach: Multifocal or Monovision
                        </option>
                        <option value='-2'>
                            Contact Lens Teach: Single Vision
                        </option>
                        <option value='-2'>
                            Forms
                        </option>
                        <option value='-2'>
                            Laser Post-op
                        </option>
                        <option value='-2'>
                            NIHB (Non-Insured Health Benefits)
                        </option>
                        <option value='-2'>
                            No Charge CL Follow Up
                        </option>
                        <option value='-2'>
                            No Charge Rx Check
                        </option>
                        <option value='-2'>
                            Partial Eye Exam
                        </option>
                        <option value='-2'>
                            Retinal Images
                        </option>
                        <option value='-2'>
                            Visual Field
                        </option>
                        <option value='-2'>
                            OHIP: Partial (V408A)
                        </option>
                        <option value='-2'>
                            OHIP: Visual Fields (V410A)
                        </option>
                        <option value='-2'>
                            OHIP: ODSP (V450A)
                        </option>
                        <option value='-2'>
                            OHIP: Ontario Works (V451A)
                        </option>
                        <option value='-2'>
                            Optical: Sales Rep
                        </option>
                        <option value='-2'>
                            Optical: Troubleshooting
                        </option>


                        <!-- <option value="1">Full Eye Exam: Non-Contact Lens Wearer
                        </option>
                        <option value="2">Full Eye Exam: Contact Lens Wearer (Previous
                            Patient) </option>
                        <option value="3">Full Eye Exam: Contact Lens Wearer (New
                            Patient) </option>
                        <option value="4">Non-OHIP Child (0-19) Eye Exam</option>
                        <option value="5">Non-OHIP Senior (65+) Eye Exam</option>
                        <option value="6">OHIP: 0-19 (V406A)</option>
                        <option value="7">OHIP: 65+ (V406A)</option>
                        <option value="8">Appointment not available for online booking
                        </option> -->
                    </select>
                    <div *ngIf="ExamErrorMessage">
                        <mat-error>This type of exam can not be booked online,
                            Please select another type or call our
                            store to book an appointment.</mat-error>
                    </div>
                </div>
            </div>
            <div class="col-sm-3">

            </div>
        </div>

        <!-- <div class="col-sm-4">
            <li>Contact Lens Fitting: Multifocal or Monovision</li>
            <li>Contact Lens Fitting: Single Vision</li>
            <li>Contact Lens Teach: Multifocal or Monovision</li>
            <li>Contact Lens Teach: Single Vision</li>
            <li>NIHB (Non-Insured Health Benefits)</li>

        </div>
        <div class="col-sm-2">
            <li>Laser Post-op</li>
            <li>Forms</li>
            <li>Visual Field</li>
            <li>No Charge Rx Check</li>
            <li>Partial Eye Exam</li>
        </div>
        <div class="col-sm-3">
            <li>Retinal Images</li>
            <li>No Charge CL Follow Up</li>
            <li>OHIP: Partial (V402A)</li>
            <li>OHIP: Partial (V408A)</li>
            <li>OHIP: Medical 20-64 (V409A</li>
        </div>
        <div class="col-sm-3">
            <li>OHIP: Visual Fields (V410A)</li>
            <li>OHIP: ODSP (V450A)</li>
            <li>OHIP: Ontario Works (V451A)</li>
        </div> -->

        <div class="col-sm-10 col-sm-offset-1" *ngIf="isOptomitrist">
            <h4 class="info-text">Please select an Optometrist / Any Optometrist</h4>
            <div class="col-sm-1">
            </div>
            <div class="col-sm-2" *ngIf="isOptomitrist" (click)="SelectStaff(-1)">
                <div class="choice " data-toggle="wizard-radio " rel="tooltip" title="Any Optometrist"
                    [class.active]="SelectedStaff.id === -1">
                    <input type="radio" name="job" value="Code">
                    <div class="icon">
                        <img src="assets\img\icon-02.png" width="100%" height="100%">
                    </div>
                    <h6>Any Optometrist</h6>
                </div>
            </div>

            <div class="col-sm-2" *ngFor="let s of Staffs" (click)="SelectStaff(s.id)">
                <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="{{s.description}}"
                    [class.active]="SelectedStaff.id === s.id">
                    <input type="radio" name="job" value="Design">
                    <div class="icon">
                        <img src="assets\img\icon-02.png" width="100%" height="100%">
                    </div>
                    <h6>{{s.firstName}} {{s.lastName}}</h6>
                </div>
            </div>
            <div *ngIf="StaffErrorMessage">
                <mat-error>The selected staff doesnt have any available appointments.</mat-error>
            </div>

        </div>
    </div>
    <div class="row">

    </div>
    <div class="row" *ngIf="isOptomitristSpinnerEnabled">
        <div class="col-sm-4"></div>
        <div class="col-sm-4" style="text-align: center;">
            <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="5"
                fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
        </div>
        <div class="col-sm-4"></div>

    </div>
</div>