<div class="row">
    <h4 class="info-text">Do you want to book an appointment for in-store shopping,
        repairs or pick-up?</h4>
    <div class="col-sm-12">
        <div class="checkbox">
            <label>
                <input type="checkbox" name="chk-optician" id="chk-optician"
                    onclick="JavaScript:toggleVisibility(this,'optician-contact-form');">
            </label> Yes I would like to book an appointment with an Optician
        </div>
    </div>
    <div class="col-md-12" id="optician-contact-form" name="optician-contact-form" style="visibility: hidden;">
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">face</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">First Name
                        <small>(required)</small></label>
                    <input name="firstname" type="text" class="form-control">
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">record_voice_over</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">Last Name
                        <small>(required)</small></label>
                    <input name="lastname" type="text" class="form-control">
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">looks_one</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">Street Number
                        <small>(required)</small></label>
                    <input name="streetnumber" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">tag</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">Unit Number
                        <small>(required)</small></label>
                    <input name="unitnumber" type="text" class="form-control">
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">edit_road</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">Street Name
                        <small>(required)</small></label>
                    <input name="streetname" type="text" class="form-control">
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">location_city</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">City
                        <small>(required)</small></label>
                    <input name="city" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">location_city</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">Province
                        <small>(required)</small></label>
                    <input name="province" type="text" class="form-control">
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">plus_one</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">Postal Code
                        <small>(required)</small></label>
                    <input name="postalcode" type="text" class="form-control">
                </div>
            </div>
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">smartphone</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">Cell Phone
                        <small>(required)</small></label>
                    <input name="cellphone" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">email</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">Email
                        <small>(required)</small></label>
                    <input name="email" type="text" class="form-control">
                </div>
            </div>

            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">business</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">Insurance Company <small>(if
                            applicable for glasses shopping)</small></label>
                    <input name="insurancecompany" type="text" class="form-control">
                </div>
            </div>
        </div>
    </div>
</div>