<div class="tab-pane" id="confirm">
    <div class="row">
        <h4 class="info-text">Confirmation</h4>
        <h4 class="info-text">Please enter your email to confirm your appointment</h4>
        <div class="col-sm-3">
        </div>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">
                    <i class="material-icons">email</i>
                </span>
                <div class="form-group label-floating">
                    <label class="control-label">Email <small>(required)</small></label>
                    <input name="email" type="text" class="form-control">
                </div>
            </div>
        </div>
        <div class="col-sm-3">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <div class="col-sm-4">
                <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="User 1">
                    <input type="radio" name="job" value="Design">
                    <div class="icon">
                        <i class="material-icons">person</i>
                    </div>
                    <h6>User 2</h6>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="User 2">
                    <input type="radio" name="job" value="Code">
                    <div class="icon">
                        <i class="material-icons">person</i>
                    </div>
                    <h6>User 2</h6>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="choice" data-toggle="wizard-radio" rel="tooltip" title="New User">
                    <input type="radio" name="job" value="Code">
                    <div class="icon">
                        <i class="material-icons">person_add</i>
                    </div>
                    <h6>New User</h6>
                </div>
            </div>
        </div>
    </div>
</div>