<!-- <div class="flex-c-m size22 bg0 s-text21 pos-relative">

    <p style="text-align: center; font-size:17px; color: white"><a style="text-decoration:underline; color:white"
            href="https://www.eyemaxx.ca/pages/our-covid-19-policies">Updated COVID Policies</a></p>

    <button class="flex-c-m pos2 size23 colorwhite eff3 trans-0-4 btn-romove-top-noti">
        <i class="fa fa-remove fs-13" aria-hidden="true"></i>
    </button>
</div> -->
<div style="width: 100%; background-color: #79a0df; height: 45px;">
    <div class="col-sm-4">

    </div>
    <div class="col-sm-4" style="text-align: center;padding: 10px;">
        <a href="https://www.eyemaxx.ca/pages/our-covid-19-policies" style="color: white;"><strong>Updated COVID
                Policies</strong></a>
    </div>
    <div class="col-sm-4">

    </div>
</div>
<!-- <div class="row" style="margin-top: 2%;"> -->
  <div class="row">
    <div class="container-menu-header-v2 p-t-26" style="background-color:white">
        <div class="topbar2">
            <div class="topbar-social">
                <a href="https://www.facebook.com/eyemaxx613/" class="topbar-social-item fa fa-facebook"
                    title="Eyemaxx Optical Studio on Facebook">
                </a>
                <a data-toggle="tooltip" class=" topbar-social-item fa fa-twitter" data-placement="bottom"
                    href="https://twitter.com/eyemaxx613" title=""
                    data-original-title="Eyemaxx Optical Studio on Twitter">
                </a>
                <a data-toggle="tooltip" class="topbar-social-item fa fa-instagram" data-placement="bottom"
                    href="https://www.instagram.com/eyemaxx613/" title=""
                    data-original-title="Eyemaxx Optical Studio on Instagram">
                </a>
            </div>
            <!-- Logo2 -->
            <a style="margin-top: 2%;" href="https://www.eyemaxx.ca/" itemprop="url" class="logo2">
                <img src="../../../../assets/img/eyemax-logo.png" alt="Eyemaxx Optical Studio" itemprop="logo" class="">
            </a>
            <div class="topbar-child2">
                <span class="topbar-email">
                    <p style="font-size:17px; color:#888;"><a style="color:#888;"
                            href="mailto:staff@eyemaxx.ca?subject=Questions" title="">staff@eyemaxx.ca</a> | Tel:
                        613.216.6076</p>
                </span>
                <div class="topbar-language rs1-select2">
                    <span class="selected-currency" style="display:none;">CAD</span>
                </div>
                <!--  -->
                <a href="https://www.eyemaxx.ca/account/login" class="header-wrapicon1 dis-block m-l-30">
                    <img src="./Eyemaxx Optical Studio _ Ottawa Eye Exams, Glasses, &amp; Contacts_files/icon-header-01.png"
                        class="header-icon1" alt="ICON">
                </a>
                <span class="linedivide1"></span>
                <div class="header-wrapicon2 m-r-13">
                    <img src="./Eyemaxx Optical Studio _ Ottawa Eye Exams, Glasses, &amp; Contacts_files/icon-header-02.png"
                        class="header-icon1 js-show-header-dropdown" alt="ICON">
                    <span class="header-icons-noti cart-total">0</span>
                    <!-- Header cart noti -->
                    <div id="cart" class="header-cart header-dropdown">
                        <div id="subcart">

                            <ul class="header-cart-wrapitem">
                                <li>
                                    <p class="text-center cart-empty">Your shopping cart is empty!</p>
                                </li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="wrap_header">
            <!-- Menu -->
            <div class="wrap_menu">
                <nav class="menu">
                    <ul class="main_menu">
                        <li class="">
                            <a href="https://www.eyemaxx.ca/pages/book-an-eye-exam"><span
                                    style="color:#79a0df; font-size:15px; font-weight:800">Book An
                                    Appointment</span></a>
                            <ul class="sub_menu">

                                <li><a class="" href="https://www.eyemaxx.ca/pages/book-an-eye-exam">Book an Eye
                                        Exam</a></li>

                                <li><a class="" href="https://www.eyemaxx.ca/pages/book-an-optical-appointment">Book an
                                        Optical Service</a></li>

                            </ul>
                        </li>
                        <li class="">
                            <a href="https://www.eyemaxx.ca/pages/ourteam">About Us</a>
                            <ul class="sub_menu">

                                <li><a class="" href="https://www.eyemaxx.ca/pages/ourteam">Team</a></li>

                                <li><a class="" href="https://www.eyemaxx.ca/pages/optometrists">Eye doctors</a></li>

                            </ul>
                        </li>
                        <li class="">
                            <a href="https://www.eyemaxx.ca/pages/our-services">Services</a>
                            <ul class="sub_menu">

                                <li><a class="" href="https://www.eyemaxx.ca/pages/our-services">Eye Exams &amp; Vision
                                        Tests</a></li>

                                <li><a class="" href="https://www.eyemaxx.ca/pages/contact-lenses-and-fitting">Contact
                                        Lenses &amp; Fitting</a></li>

                                <li><a class="" href="https://www.eyemaxx.ca/pages/optical-services">Optical
                                        Services</a></li>

                                <li><a class="" href="https://www.eyemaxx.ca/pages/our-covid-19-policies">Our COVID
                                        Policies</a></li>

                            </ul>
                        </li>
                        <li class="">
                            <a href="https://www.eyemaxx.ca/pages/our-brands">Products</a>
                            <ul class="sub_menu">

                                <li><a class="" href="https://www.eyemaxx.ca/pages/lenses-brands">Lenses</a></li>

                                <li><a class="" href="https://www.eyemaxx.ca/pages/frames">Frames</a></li>

                                <li><a class="" href="https://www.eyemaxx.ca/pages/contact-lenses-and-fitting">Contact
                                        Lenses</a></li>

                            </ul>
                        </li>
                        <li class="">
                            <a href="https://www.eyemaxx.ca/blogs/ive-been-framed">Blog</a>
                        </li>
                        <li class="">
                            <a href="https://www.eyemaxx.ca/pages/contact-us">Contact Us</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- Header Icon -->
            <div class="header-icons">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-12 col">
            <!--      Wizard container        -->
            <div class="wizard-container">
                <div class="card wizard-card" data-color="red" id="wizard">
                    <div class="wizard-header" style="background-image: url('assets/img/cover.jpg')">
                        <h3 class=" wizard-title" style="color:#79a0df">
                            Book an Appointment with Eyemaxx Optical Studio
                        </h3>
                        <h5>Please follow the steps to book an appointment</h5>
                    </div>
                    <div class="wizard-navigation">
                        <ul>
                            <li id="step1" [class.liDisabled]="!stepsEnabled(1)" (click)="navigate(1)"><a
                                    href="#covid19" data-toggle="tab">Step 1 : COVID19-Screening</a>
                            </li>
                            <!-- <li id="step2" [class.liDisabled]="!stepsEnabled(2)" (click)="navigate(2)"><a
                                        href="#appointment-type" data-toggle="tab">Step 2 (Service Type)</a></li> -->
                            <li id="step3" [class.liDisabled]="!stepsEnabled(2)" (click)="navigate(2)"><a
                                    href="#exam-type" data-toggle="tab">Step 2 :
                                    Appointment Type</a>
                            </li>
                            <li id="step4" [class.liDisabled]="!stepsEnabled(3)" (click)="navigate(3)"><a
                                    href="#date-time" data-toggle="tab">Step 3 : Date and Time</a></li>
                            <!-- <li id="step5" [class.liDisabled]="!stepsEnabled(4)" (click)="navigate(4)"><a
                                        href="#optician-appointment" data-toggle="tab">Step 4 (Optician
                                        Appointment)</a></li> -->
                            <li id="step6" [class.liDisabled]="!stepsEnabled(4)" (click)="navigate(4)"><a
                                    href="#confirm" data-toggle="tab">Step 4 :
                                    Confirmation</a></li>
                            <li id="step7" [class.liDisabled]="!stepsEnabled(5)" (click)="navigate(5)"><a
                                    href="#summary" data-toggle="tab">Step 5 :
                                    Summary</a></li>
                        </ul>
                    </div>

                    <div class="tab-content">
                        <router-outlet (activate)="onActivate($event)"></router-outlet>
                    </div>
                    <!-- <div class="wizard-footer" *ngIf="currentStepStatus().validated">
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next' (click)="navigate(currentStepStatus().order+1)"
                                    value='Next' />
                                <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish'
                                    value='Finish' />
                            </div>
                            <div class="pull-left" *ngIf="currentStepStatus().order != 1">
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd'
                                    name='previous' value='Previous' />
                            </div>
                            <div class="clearfix"></div>
                        </div> -->
                    <!-- <div class="wizard-footer" >
                            <div class="pull-right">
                                <input type='button' class='btn btn-next btn-fill btn-danger btn-wd' name='next'
                                    value='Next' />
                                <input type='button' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish'
                                    value='Finish' />
                            </div>
                            <div class="pull-left">
                                <input type='button' class='btn btn-previous btn-fill btn-default btn-wd'
                                    name='previous' value='Previous' />
                            </div>
                            <div class="clearfix"></div>
                        </div> -->
                    <div class="wizard-footer">
                        <div class="pull-right">
                            <button type='button' class='btn btn-next btn-fill btn-danger btn-wd liDisabled'
                                (click)="navigate(currentStepStatus().order+1)"
                                [class.liDisabled]="!currentStepStatus().validated">Next</button>
                            <button type='button' class='btn btn-finish btn-fill btn-danger btn-wd'
                                (click)="BookAppointment()">Confirm and Book</button>
                        </div>
                        <div class="pull-left" *ngIf="currentStepStatus().order != 1">
                            <button type='button' class='btn btn-previous btn-fill btn-default btn-wd'
                                (click)="navigate(currentStepStatus().order-1)">Previous</button>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <!-- wizard container -->
        </div>
    </div>
    <!-- row -->
    <!--  big container -->
  </div>

    <div class="footer">
        <footer id="footer" class="bg6 p-t-45 p-b-43 p-l-45 p-r-45">
            <div class="footer__columns flex-w p-b-90">
                <div class="w-size6 p-t-30 p-l-15 p-r-15 respon3">
                    <h4 class="s-text12 p-b-30">
                        GET IN TOUCH
                    </h4>
                    <div>
                        <p class="s-text7 w-size27">
                            <img style="width:200px; margin-bottom:20px;" src="../../../../assets/img/saved_resource">
                            <br>
                            <strong style="font-size:16px; font-family:'poppins-black'; font-weight:800">GET IN
                                TOUCH</strong><br>
                            <a style="color:#333;" href="mailto:staff@eyemaxx.ca?subject=Questions"
                                title="">staff@eyemaxx.ca</a> <br>
                            Tel: 613.216.6076
                        </p>
                        <div class="footer__social-icons flex-m p-t-30">



                            <a href="https://www.facebook.com/eyemaxx613/"
                                class="fs-18 color1 p-r-20 footer-social-button fa fa-facebook"
                                title="Eyemaxx Optical Studio on Facebook">
                            </a>


                            <a data-toggle="tooltip" class="fs-18 color1 p-r-20 footer-social-button fa fa-twitter"
                                data-placement="bottom" href="https://twitter.com/eyemaxx613" title=""
                                data-original-title="Eyemaxx Optical Studio on Twitter">
                            </a>




                            <a data-toggle="tooltip" class="fs-18 color1 p-r-20 footer-social-button fa fa-instagram"
                                data-placement="bottom" href="https://www.instagram.com/eyemaxx613/" title=""
                                data-original-title="Eyemaxx Optical Studio on Instagram">
                            </a>






                        </div>
                    </div>
                </div>
                <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                    <h4 class="s-text12 p-b-30">Quick Links</h4>
                    <ul>

                        <li class="p-b-9"><a href="https://www.eyemaxx.ca/" class="s-text7">HOME</a></li>

                        <li class="p-b-9"><a href="https://www.eyemaxx.ca/pages/hours" class="s-text7">HOURS</a>
                        </li>

                        <li class="p-b-9"><a href="https://www.eyemaxx.ca/pages/frames" class="s-text7">FRAMES</a>
                        </li>

                        <li class="p-b-9"><a href="https://www.eyemaxx.ca/pages/lenses-brands"
                                class="s-text7">LENSES</a></li>

                        <li class="p-b-9"><a href="https://www.eyemaxx.ca/pages/contact-lenses-and-fitting"
                                class="s-text7">CONTACTS</a></li>

                        <li class="p-b-9"><a href="https://www.eyemaxx.ca/blogs/ive-been-framed"
                                class="s-text7">BLOG</a></li>

                        <li class="p-b-9"><a href="https://www.eyemaxx.ca/pages/contact-us" class="s-text7">CONTACT
                                US</a></li>

                        <li class="p-b-9"><a href="https://www.eyemaxx.ca/pages/book-an-eye-exam" class="s-text7">BOOK
                                AN EYE EXAM</a></li>

                    </ul>
                </div>
                <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                    <h4 class="s-text12 p-b-30"></h4>
                    <ul>

                    </ul>
                </div>
                <div class="w-size7 p-t-30 p-l-15 p-r-15 respon4">
                    <h4 class="s-text12 p-b-30"></h4>
                    <ul>

                    </ul>
                </div>
                <div class="w-size8 p-t-30 p-l-15 p-r-15 respon3">




                </div>
            </div>
            <div class="t-center p-l-15 p-r-15">
                <div class="t-center s-text7 p-t-20">
                    Copyright ©️ 2020 All rights reserved.
                    Template by <a href="https://colorlib.com/">Colorlib</a>
                </div>
            </div>
        </footer>
    </div>



<!-- <p-confirmDialog [style]="{width: '50vw'}" key="positionDialog" [position]="'top'" [baseZIndex]="10000">
</p-confirmDialog> -->

<p-toast></p-toast>
<p-dialog header="" [(visible)]="showBookAppointmentPopUp" [modal]="true" [style]="{width: '50vw'}" [maximizable]="true"
    [baseZIndex]="10000" [draggable]="false" [resizable]="false" [position]="'top'" [closable]="false">
    <!-- <i class="pi pi-check-circle" style="font-size: 2rem;float: left;"></i> -->
    <p [ngStyle]="{'color': bookingSuccess!==true?'red':'black'}">
        <i class="{{popIconType}}" style="font-size: 2rem;float: left;"></i> &nbsp;&nbsp; {{popUpMessage}}
    </p>
    <ng-template pTemplate="footer">
        <p-button type="button" icon="pi pi-check" (click)="popUpNavigation('appointment')"
            label="Book another appointment" class="p-button-raised"></p-button>
        <button pButton pRipple type="button" icon="pi pi-home" (click)="popUpNavigation('home')" label="Go to home"
            class="p-button-secondary">
        </button>
    </ng-template>
</p-dialog>

<div class="progress-spinner" *ngIf="bookAppointmentSpinnerEnabled">
    <p-progressSpinner></p-progressSpinner>
</div>
