.liDisabled {
    pointer-events: none;
    opacity: 0.5;
}

.progress-spinner {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    overflow: show;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.bookbutton {
    color: #ffffff;
    background: #79a0df;
    border: 1px solid #79a0df;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}

.homebutton {
    color: #ffffff;
    background: #999999;
    border: 1px solid #999999;
    font-size: 1rem;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
    border-radius: 3px;
}

@media only screen and (max-width: 500px) {
    button.p-button-secondary.homebutton.p-button.p-component.ng-star-inserted {
        margin-top: 8%;
        margin-right: 6%;
    }
    button.p-button-secondary.homebutton.p-button.p-component.ng-star-inserted[_ngcontent-llh-c97] {
        margin-top: 8%;
        margin-right: 8%;
    }
    button.p-button-raised.bookbutton.p-button.p-component.ng-star-inserted {
        margin-right: 8%;
    }
}