<div class="tab-pane" id="summary">
    <div class="row text-center">
        <h4 class="info-text">Appointment Confirmation Summary</h4>
        <div class="row">
            <div class="col-md-3">
                <br>
            </div>
            <!--  -->
            <div class="col-md-7" *ngIf="appointmentTypeData.isOptomitrist">
                <mat-checkbox [(ngModel)]="OpticianAppointment" (change)="onOpticianAppointmentChange()"
                    [color]="'primary'" style="margin-left: 3%;margin-right: 3%;">
                    <h4>Yes, I would like to request an appointment to shop for glasses.</h4>
                </mat-checkbox>
            </div>
            <div class="col-md-3">
                <br>
            </div>
        </div>
        <br>
    </div>
    <div class="row">

        <div class="col-md-1">

        </div>
        <div class="col-md-10">


            <div class="col-md-4 text-left">
                <p><strong>First Name: </strong>{{appointmentConfirmationData.SelectedUser.firstName}}</p>
                <p><strong>Last Name: </strong>{{appointmentConfirmationData.SelectedUser.lastName}}</p>
                <p><strong>Street Number: </strong>{{appointmentConfirmationData.SelectedUser.streetNumber}}</p>
                <p><strong>Unit Number: </strong>{{appointmentConfirmationData.SelectedUser.unit}}</p>
                <p><strong>Street Name: </strong>{{appointmentConfirmationData.SelectedUser.streetName}}</p>
                <p><strong>City: </strong>{{appointmentConfirmationData.SelectedUser.city}}</p>
            </div>
            <div class="col-md-4 text-left">
                <p><strong>Province: </strong>{{appointmentConfirmationData.SelectedUser.province}}</p>
                <p><strong>Postal Code: </strong> {{appointmentConfirmationData.SelectedUser.postalCode}}</p>
                <p><strong>Date of Birth: </strong>{{appointmentConfirmationData.SelectedUser.dateOfBirth}}</p>
                <p><strong>Cell Phone: </strong>{{appointmentConfirmationData.SelectedUser.cell}}</p>
                <p><strong>Email: </strong>{{appointmentConfirmationData.SelectedUser.email}}</p>
                <p><strong>Health Card & Expiry: </strong>{{appointmentConfirmationData.SelectedUser.medicalCardExp}}
                </p>
            </div>
            <div class="col-md-4 text-left">
                <p><strong>Insurance Company: </strong> {{appointmentConfirmationData.SelectedUser.medicalCard}}</p>
                <p><strong>{{appointmentTypeData.isOptomitrist?'Optometrist:':'Optician:'}}
                    </strong>{{SelectedDoctor.firstName+
                    '
                    '+SelectedDoctor.lastName }}</p>
                <p><strong>Exam Type: </strong>{{appointmentTypeData.ExamType.name}}</p>
                <p><strong>Appointment Date & Time: </strong>{{appointmentSlotData.SelectedDate | date:'mediumDate'}}
                    {{appointmentSlotData.SelectedTimeSlot.start}} - {{appointmentSlotData.SelectedTimeSlot.end}}</p>

            </div>
        </div>
        <div class="col-md-1">

        </div>

    </div>



</div>
