<div class="tab-pane" id="summary">
    <div class="row text-center">
        <h4 class="info-text">Appointment Confirmation Summary</h4>
        <h4 class="info-text">Thank you for booking an appointment with Eyemaxx, you
            will receive a SMS confirmation shortly</h4>
        <div class="col-md-4 text-left">
            <p><strong>First Name: </strong>Carlo</p>
            <p><strong>Last Name: </strong>Dummar</p>
            <p><strong>Street Number: </strong>237</p>
            <p><strong>Unit Number: </strong>K2P 1L6</p>
            <p><strong>Street Name: </strong>Elgin St</p>
            <p><strong>City: </strong>Montreal</p>
        </div>
        <div class="col-md-4 text-left">
            <p><strong>Province: </strong>Ottawa</p>
            <p><strong>Postal Code: </strong> 11122</p>
            <p><strong>Date of Birth: </strong>22/10/1989</p>
            <p><strong>Cell Phone: </strong>613.216.6076</p>
            <p><strong>Email: </strong>staff@eyemaxx.ca</p>
            <p><strong>Health Card & Expiry: </strong>11122233 - 10/2022</p>
        </div>
        <div class="col-md-4 text-left">
            <p><strong>Insurance Company: </strong> BA</p>
            <p><strong>Optometrist: </strong>MIMOSA VO OD</p>
            <p><strong>Exam Type: </strong>Full Eye Exam: Non-Contact Lens Wearer</p>
            <p><strong>Appointment Date & Time: </strong>10/05/2021 11:00-11:30</p>
            <p><strong>Appointment with Optician: </strong>Yes</p>
        </div>
    </div>
    <div class="row text-center">
        <h4 class="info-text">An Eyemaxx representative will contact you shortly to
            confirm you appointment with an Optician</h4>
        <a href="#covid19" class="btn btn-finish btn-fill btn-danger btn-wd">Book
            Another Appointment</a>
        <a href="www.eyemaxx.ca" class="btn btn-previous btn-fill btn-default btn-wd">Go
            back to homepage</a>
    </div>
</div>