:host::ng-deep.mat-checkbox-layout {
    white-space: normal !important;
    color: #000000DE;
}

:host::ng-deep.mat-checkbox-inner-container {
    margin-top: 4px;
    width: 15px;
    height: 15px;
}