<div class="tab-pane" id="summary">
    <div class="row text-center">
        <h4 class="info-text">Appointment Confirmation Summary</h4>
        <h4 class="info-text">Thank you for booking an appointment with Eyemaxx, you
            will receive a SMS confirmation shortly</h4>
        <div class="col-md-4 text-left">
            <p><strong>First Name: </strong>{{appointmentConfirmationData.SelectedUser.firstName}}</p>
            <p><strong>Last Name: </strong>{{appointmentConfirmationData.SelectedUser.lastName}}</p>
            <p><strong>Street Number: </strong>{{appointmentConfirmationData.SelectedUser.streetNumber}}</p>
            <p><strong>Unit Number: </strong>{{appointmentConfirmationData.SelectedUser.unit}}</p>
            <p><strong>Street Name: </strong>{{appointmentConfirmationData.SelectedUser.streetName}}</p>
            <p><strong>City: </strong>{{appointmentConfirmationData.SelectedUser.city}}</p>
        </div>
        <div class="col-md-4 text-left">
            <p><strong>Province: </strong>{{appointmentConfirmationData.SelectedUser.province}}</p>
            <p><strong>Postal Code: </strong> {{appointmentConfirmationData.SelectedUser.postalCode}}</p>
            <p><strong>Date of Birth: </strong>{{appointmentConfirmationData.SelectedUser.dateOfBirth}}</p>
            <p><strong>Cell Phone: </strong>{{appointmentConfirmationData.SelectedUser.cell}}</p>
            <p><strong>Email: </strong>{{appointmentConfirmationData.SelectedUser.email}}</p>
            <p><strong>Health Card & Expiry: </strong>{{appointmentConfirmationData.SelectedUser.medicalCardExp}}</p>
        </div>
        <div class="col-md-4 text-left">
            <p><strong>Insurance Company: </strong> {{appointmentConfirmationData.SelectedUser.medicalCard}}</p>
            <p><strong>Optometrist: </strong>{{appointmentTypeData.isOptomitrist?appointmentTypeData.Staff.firstName +'
                '+appointmentTypeData.Staff.lastName :appointmentTypeData.ExamType.name }}</p>
            <p><strong>Exam Type: </strong>{{appointmentTypeData.ExamType.name}}</p>
            <p><strong>Appointment Date & Time: </strong>{{appointmentSlotData.SelectedDate | date:'mediumDate'}}
                {{appointmentSlotData.SelectedTimeSlot.start}} - {{appointmentSlotData.SelectedTimeSlot.end}}</p>

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 checkbox" *ngIf="appointmentTypeData.isOptomitrist">
            <!-- <div class="checkbox"> -->
            <label>
                <input type="checkbox" [(ngModel)]="OpticianAppointment" (change)="onOpticianAppointmentChange()">
            </label> Yes I would like to book an
            appointment with an Optician.
            <!-- </div> -->
        </div>
    </div>
    <div class="row text-center">
        <h4 class="info-text">An Eyemaxx representative will contact you shortly to
            confirm you appointment with an Optician</h4>
        <a href="#covid19" class="btn btn-finish btn-fill btn-danger btn-wd">Book
            Another Appointment</a>
        <a href="www.eyemaxx.ca" class="btn btn-previous btn-fill btn-default btn-wd">Go
            back to homepage</a>
    </div>
</div>